<div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Update Pizza</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Manage Pizza</a></li>
                                        <li class="breadcrumb-item active">Update Pizza</li>
                                    </ol>
                                </div>
                            </div> <!-- end row -->
                        </div>
                        <!-- end page-title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
        
                                    <h4 class="mt-0 header-title">Sửa thông thông tin của sản phẩm cần cập nhật</h4>
                                    </p>
        
                                    <!-- Form -->
                                        <form class="" action="#">
                                            <div class="form-group">
                                                <label>Tên</label>
                                                <input type="text" class="form-control" required placeholder="Tên sản phẩm"/>
                                            </div>

                                            <div class="form-group col-sm-2 img-picker-container"> 
                                                <label>Ảnh đại diện</label>
                                                <div class="img-picker"></div>
                                            </div> 


                                            <div class="form-group">
                                                <label>Mô tả</label>
                                                <div>
                                                    <textarea required class="form-control" rows="5" required placeholder="Mô tả sản phẩm"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group img-picker-container"> 
                                                <label>Ảnh mô tả</label>
                                                <div class="row">
                                                <div class="img-picker col-sm-2"></div>
                                                <div class="img-picker col-sm-2"></div>
                                                <div class="img-picker col-sm-2"></div>
                                                <div class="img-picker col-sm-2"></div>
                                            </div>
                                            </div> 

                                            <div class="form-group">
                                                <label>Giá tiền</label>
                                                <div class="input-group">
                                                    <input data-parsley-type="number" type="text"
                                                           class="form-control" required
                                                           placeholder="Giá tiền sản phẩm"/>

                                                    <div class="input-group-append">
                                                        <span class="input-group-text">VNĐ</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Loại</label>
                                                <div >
                                                    <select class="form-control">
                                                        <option>Truyền thống</option>
                                                        <option>Hải sản</option>
                                                        <option>Thập cẩm</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Kích thước</label>
                                                <div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck1"><p>25cm <span>(250g)</span></p>  </label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck2" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck2"><p>30cm <span>(450g)</span></p>  </label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck3" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck3"><p>40cm <span>(550g)</span></p>  </label>
                                                    </div>
        
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Đế bánh</label>
                                                <div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck4" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck4">Mỏng</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck5" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck5">Dày</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Toping đi kèm</label>
                                                <div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck6" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck6">Ớt chuông</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck7" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck7 ">Thị xông khói</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck8" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck8 ">Nấm</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck9" data-parsley-multiple="groups"
                                                               data-parsley-mincheck="1">
                                                        <label class="custom-control-label" for="customCheck9 ">Cải xà lách</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                                                        Update
                                                    </button>
                                                    <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                                        Bỏ qua
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
        

                            
                        </div> <!-- end row -->      

                        
                    </div>
                    <!-- container-fluid -->

                </div>
                <!-- content -->

                <footer class="footer">
                    © 2019 Stexo <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</span>.
                </footer>

            </div>